*.log

# ESP-IDF build output
/build/
/sdkconfig
/sdkconfig.old

Kconfig.projbuild

# Python
__pycache__/
*.pyc

# Editor junk
.vscode/
.idea/
.DS_Store

# Components (vendor libs)
components/*
!components/.gitkeep
